<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335255440513-td3ihvrn2fin76nrn4e9up0ofcg65dgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335255440513-td3ihvrn2fin76nrn4e9up0ofcg65dgt</string>
	<key>API_KEY</key>
	<string>AIzaSyD3V2kusOSLRPU8KLHlAmcSnbNdqai5th4</string>
	<key>GCM_SENDER_ID</key>
	<string>335255440513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christian.SquareHack</string>
	<key>PROJECT_ID</key>
	<string>squarehack-ac273</string>
	<key>STORAGE_BUCKET</key>
	<string>squarehack-ac273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335255440513:ios:00531dcb5f4aeed1c0d180</string>
</dict>
</plist>